@{
    ViewData["Title"] = "CMS - Course Management System";
}

<div id="page" class="container-fluid">
    <div id="frontpage-banner">
        <div id="frontpage-banner-content">
            <h2 class="pb-4 pl-3 mb-3">FPT EDUCATION</h2>
            <h3 class="mb-3"> COURSE MANAGEMENT SYSTEM</h3>
            <a href="course/" class="m-3 btn btn-primary" role="button">Learn more</a>
        </div>
    </div>

</div>

<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex closed" aria-hidden="true" tabindex="-1">
    <nav class="list-group">
        <a class="list-group-item list-group-item-action active" href="" data-key="home" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="1" data-nodetype="1" data-collapse="0" data-forceopen="1" data-isactive="1" data-hidden="0" data-preceedwithhr="0">
            <div class="m-l-0">
                <div class="media">
                    <span class="media-left">
                        <i class="icon fa fa-home fa-fw " aria-hidden="true"></i>
                    </span>
                    <span class="media-body font-weight-bold">Home</span>
                </div>
            </div>
        </a>
        <a class="list-group-item list-group-item-action " href="https://cmshn.fpt.edu.vn/my/" data-key="myhome" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="70" data-nodetype="0" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="home">
            <div class="m-l-0">
                <div class="media">
                    <span class="media-left">
                        <i class="icon fa fa-tachometer fa-fw " aria-hidden="true"></i>
                    </span>
                    <span class="media-body ">Dashboard</span>
                </div>
            </div>
        </a>
        <a class="list-group-item list-group-item-action " href="https://cmshn.fpt.edu.vn/calendar/view.php?view=month" data-key="calendar" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="60" data-nodetype="0" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="1">
            <div class="m-l-0">
                <div class="media">
                    <span class="media-left">
                        <i class="icon fa fa-calendar fa-fw " aria-hidden="true"></i>
                    </span>
                    <span class="media-body ">Calendar</span>
                </div>
            </div>
        </a>
        <a class="list-group-item list-group-item-action " href="https://cmshn.fpt.edu.vn/user/files.php" data-key="privatefiles" data-isexpandable="0" data-indent="0" data-showdivider="0" data-type="70" data-nodetype="0" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="1">
            <div class="m-l-0">
                <div class="media">
                    <span class="media-left">
                        <i class="icon fa fa-file-o fa-fw " aria-hidden="true"></i>
                    </span>
                    <span class="media-body ">Private files</span>
                </div>
            </div>
        </a>
        <div class="list-group-item" data-key="mycourses" data-isexpandable="1" data-indent="0" data-showdivider="0" data-type="0" data-nodetype="1" data-collapse="0" data-forceopen="1" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="home">
            <div class="m-l-0">
                <div class="media">
                    <span class="media-left">
                        <i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>
                    </span>
                    <span class="media-body">My courses</span>
                </div>
            </div>
        </div>
        <a class="list-group-item list-group-item-action " href="https://cmshn.fpt.edu.vn/course/view.php?id=4267" data-key="4267" data-isexpandable="1" data-indent="1" data-showdivider="0" data-type="20" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="mycourses">
            <div class="m-l-1">
                <div class="media">
                    <span class="media-left">
                        <i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>
                    </span>
                    <span class="media-body ">PRN211, PRN231 Fall2023 – TienTD17</span>
                </div>
            </div>
        </a>
        <a class="list-group-item list-group-item-action " href="https://cmshn.fpt.edu.vn/course/view.php?id=4693" data-key="4693" data-isexpandable="1" data-indent="1" data-showdivider="0" data-type="20" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="mycourses">
            <div class="m-l-1">
                <div class="media">
                    <span class="media-left">
                        <i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>
                    </span>
                    <span class="media-body ">SWD392 - General information for all classes</span>
                </div>
            </div>
        </a>
        <a class="list-group-item list-group-item-action " href="https://cmshn.fpt.edu.vn/course/view.php?id=4782" data-key="4782" data-isexpandable="1" data-indent="1" data-showdivider="0" data-type="20" data-nodetype="1" data-collapse="0" data-forceopen="0" data-isactive="0" data-hidden="0" data-preceedwithhr="0" data-parent-key="mycourses">
            <div class="m-l-1">
                <div class="media">
                    <span class="media-left">
                        <i class="icon fa fa-graduation-cap fa-fw " aria-hidden="true"></i>
                    </span>
                    <span class="media-body ">PRM392- General information for all classes</span>
                </div>
            </div>
        </a>
    </nav>
</div>

