@{
    ViewData["Title"] = "CMS - Course Management System";
}

<div id="page" class="container-fluid">
    <div id="frontpage-banner">
        <div id="frontpage-banner-content">
            <h2 class="pb-4 pl-3 mb-3">FPT EDUCATION</h2>
            <h3 class="mb-3"> COURSE MANAGEMENT SYSTEM</h3>
            <a href="course/" class="m-3 btn btn-primary" role="button">Learn more</a>
        </div>
    </div>
    <div role="main">
        <span id="maincontent"></span>
        <div class="box mdl-align py-3">
            <form id="coursesearch" action="" method="get">
                <fieldset class="coursesearchbox invisiblefieldset">
                    <label for="shortsearchbox">Search courses: </label>
                    <input type="text" id="shortsearchbox" size="12" name="search" value="" />
                    <input type="submit" value="Go" />
                </fieldset>
                <a class="btn btn-link p-0" role="button"
                   data-container="body" data-toggle="popover"
                   data-placement="right" data-content="&lt;div class=&quot;no-overflow&quot;&gt;&lt;p&gt;You can search for multiple words at once and can refine your search as follows:&lt;/p&gt;

&lt;ul&gt;&lt;li&gt;word - find any match of this word within the text.&lt;/li&gt;
&lt;li&gt;+word - only exact matching words will be found.&lt;/li&gt;
&lt;li&gt;-word - don&#039;t include results containing this word.&lt;/li&gt;
&lt;/ul&gt;&lt;/div&gt; "
                   data-html="true" tabindex="0" data-trigger="focus">
                    <i class="icon fas fa-question-circle text-info fa-fw " title="Help with Search courses" aria-label="Help with Search courses"></i>
                </a>
            </form>
        </div>
    </div>
</div>


